## Sample Encodings

In [4]:
import pandas as pd
df = pd.DataFrame([['house',3,2572,'S',1372000,'Y'],
                  ['apartment',2,1386,'N',699000,'N'],
                 ['house',3,1932,'L',800000,'Y'],
                   ['house',1,851,'M', 451000,'Y'],
                   ['apartment',1,600,'N',325000,'N']])
df.columns = ['type', 'bedrooms','area','garden_size','price','loan_approved']
df

        type  bedrooms  area garden_size    price loan_approved
0      house         3  2572           S  1372000             Y
1  apartment         2  1386           N   699000             N
2      house         3  1932           L   800000             Y
3      house         1   851           M   451000             Y
4  apartment         1   600           N   325000             N

In [5]:
mapping = dict({'N':0,'S':5, 'M':10, 'L':20})

In [6]:
mapping

{'N': 0, 'S': 5, 'M': 10, 'L': 20}

In [7]:
df['num_garden_size'] = df['garden_size'].map(mapping)
df

,type,bedrooms,area,garden_size,price,loan_approved,num_garden_size
0,house,3,2572,S,1372000,Y,5
1,apartment,2,1386,N,699000,N,0
2,house,3,1932,L,800000,Y,20
3,house,1,851,M,451000,Y,10
4,apartment,1,600,N,325000,N,0

In [8]:
from sklearn.preprocessing import LabelEncoder

In [10]:
loan_enc = LabelEncoder()
y = loan_enc.fit_transform(df['loan_approved'])
y

array([1, 0, 1, 1, 0])