## One Hot Encoding Nominals

### sklearn OneHotEncoder

In [8]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

df = pd.DataFrame({"Fruits":["Apple","Banana","Banana","Mango","Banana"]})

In [9]:
encoder = OneHotEncoder()
df_fruit_encoded = pd.DataFrame(encoder.fit_transform(df[['Fruits']]).todense(),columns=encoder.get_feature_names())

In [10]:
df_fruit_encoded

   x0_Apple  x0_Banana  x0_Mango
0       1.0        0.0       0.0
1       0.0        1.0       0.0
2       0.0        1.0       0.0
3       0.0        0.0       1.0
4       0.0        1.0       0.0

### Pandas get_dummies

In [11]:
pd.get_dummies(df['Fruits'])

   Apple  Banana  Mango
0      1       0      0
1      0       1      0
2      0       1      0
3      0       0      1
4      0       1      0